@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css');

/* Reset the default values */
html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background: #393939;
    color: #fff;

    font-family: "Inter", sans-serif;
}

/* Anchors */
a {
    color: #91ff5d;
    text-decoration: dotted;
}

a:hover {
    color: #c7ffad;
}

/* Inputs */
input {
    padding: 10px;
    border-radius: 4px;
    border: #4F4F4F solid 1px;
    background: #5D5D5D;
    color: #fff;
}

input:hover {
    background: #4D4D4D;
}

/* Buttons */
button {
    background: linear-gradient(0deg, #72d444, #91ff5d);
    border-radius: 4px;
    border: #64924e solid 1px;
    color: #3c5c2d;
    padding: 10px;
}

button:hover {
    background: linear-gradient(180deg, #72d444, #91ff5d);
    cursor: pointer;
}

/* Container */
.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.container section {
    margin: 12px;
    padding: 6px;
}

/* Brand section */
section#brand, section#brand div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section#brand #dank_brand { flex-grow: 1; }

/* Section with messages */
section#message_box {
    background: #5D5D5D;
    border-radius: 6px;
    border: #505050 solid 1px;
    flex-grow: 1;
    overflow-y: scroll;
    height: 400px;
}

/* Message */
.message_row {
    margin: 2px 0;
}

.message_row span#timestamp {
    color: #9e9e9e;
}

.message_row span#username {
    font-style: italic;
    font-weight: 700;
}

/* Enter section */
section#enter_box form {
    display: flex;
    flex-direction: row;
}

section#enter_box input#message_input {
    flex-grow: 1;
    margin: 0 8px;
}
