<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>peepoChat2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <!-- Подключение библиотеки jQuery-->
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <!-- Подключение библиотеки форм для jQuery запросов -->
    <script src="https://malsup.github.io/jquery.form.js"></script>

    <!-- Библиотека для подключения через веб-сокет -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>

    <!-- Код взаимодействия с сервером -->
    <script language="JavaScript">
        function autoScroll() {
            const $nm = $("#message_box")[0];

            const nmStyle = getComputedStyle($nm);
            const nmMargin = parseInt(nmStyle.marginBottom);
            const nmHeight = $nm.offsetHeight + nmMargin;

            const visHeight = $("#message_box")[0].offsetHeight;
            const conHeight = $("#message_box")[0].scrollHeight;

            const scrollOffset = $("#message_box")[0].scrollTop + visHeight;

            if (conHeight - nmHeight <= scrollOffset) {
                $("#message_box")[0].scrollTop = $("#message_box")[0].scrollHeight;
            }
        }

        $(document).ready(() => {
            var socket = io.connect("/")

            function sendMsg() {
                socket.emit("say", {
                    "message": $("#message_input").val(),
                    "sender_name": $("#username_input").val()
                });
            }

            function formatMsg(data) {
                const date = new Date(parseFloat(data.message.timestamp));

                return `<p class="message_row" id="${data.message.id}">
                        <span id="timestamp" title="${date.toUTCString()}">[${date.getUTCHours()}:${date.getUTCMinutes()}:${date.getUTCSeconds()}]</span>
                        <span id="username">${data.sender.username}</span>:
                        <span id="message">${data.message.text}</span>
                    </p>`
            }

            socket.on("connect", () => {
                socket.emit("join", {});
            });

            // Connected:
            socket.on("joined", (msg, cb) => {
                $("#message_box").empty();
                $("#message_box").append(`<p>${msg.status}</p>`);

                for (var upd in msg["chat_history"]) {
                    upd = msg.chat_history[upd];
                    $("#message_box").append(formatMsg(upd));
                }

                $("#message_box")[0].scrollTop = $("#message_box")[0].scrollHeight;

                if (cb) cb();
            });

            // Message:
            socket.on("message", (msg, cb) => {
                $("#message_box").append(formatMsg(msg.data));
                autoScroll();
                if (cb) cb();
            });

            // Send message:
            $("#send_form").submit((e) => {
                e.preventDefault();
                sendMsg();
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <section id="brand">
            <div id="dank_brand">
                <img src="https://cdn.7tv.app/emote/61f1e78c1300d0c637b9872c/4x.webp" width="32" height="32" />
                <p>peepoChat</p>
            </div>
            <div id="links">
                <a href="https://github.com/greddyss/messanger">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </section>

        <section id="message_box">
            <p>If you see this, vi von!</p>
        </section>

        <section id="enter_box">
            <form id="send_form">
                <input type="text" placeholder="My name is..." name="username" id="username_input">
                <input type="text" placeholder="and I'm gonna say..." name="message" id="message_input"> 
                <button type="submit" id="message_submit">Send!</button>
            </form>
        </section>
    </div>
</body>
</html>