<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>peepoChat2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <!-- Подключение библиотеки jQuery-->
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <!-- Подключение библиотеки форм для jQuery запросов -->
    <script src="https://malsup.github.io/jquery.form.js"></script>

    <!-- Код взаимодействия с сервером -->
    <script language="JavaScript">
        // Загрузка и отображение сообщений
        function loadMessages() {
           $.get(
            "/get_messages",
            (data) => {
                $("#message_box").empty();
                var messages = data["messages"];
                for (var i in messages) {
                    var message = messages[i];
                    var name = message["sender"];
                    var text = message["text"];
                    var time = message["time"];
                    var html = `<p id="message_row">
                        <span id="timestamp">[${time}]</span>
                <span id="username">${name}</span>
                :
                <span id="message">${text}</span>
                        </p>`;
                    var div = $(html); // div = визуальный элемент с сообщением

                    $("#message_box").append(div);
                }
            }
           );
        }

        // Отправка сообщения
        function sendMessage() {
            var name = $("#username_input").val(); // Кладем текст из поля "name" в переменную
            var text = $("#message_input").val();
            
            $("#send_form").ajaxForm({
                dataType: "json",
                success: (response) => {
                    console.log(response.status)
                },
                error: (err) => {
                    alert(`Retrieved error with ${err.responseJSON.status} status code!\nReason: ${err.responseJSON.message}`)
                }
            });

            $("#text").val("");
        }

        // При загрузке страницы
        $(() => {
           // При нажатии клавиш в поле текст
           $("#message_input").on("keypress", (event) => {
                // При нажатии Enter, вызвать функцию sendMessage
                if (event.keyCode == 13) {
                    sendMessage();
                }
           });

           // Каждую секунду вызывать loadMessages
           setInterval(loadMessages, 1000);
        });

    </script>
</head>
<body>
    <div class="container">
        <section id="brand">
            <div id="dank_brand">
                <img src="https://cdn.7tv.app/emote/61f1e78c1300d0c637b9872c/4x.webp" width="32" height="32" />
                <p>peepoChat</p>
            </div>
            <div id="links">
                <a href="https://github.com/greddyss/messanger">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </section>

        <section id="message_box">
            <p>If you see this, vi von!</p>
        </section>

        <section id="enter_box">
            <form action="/send_message" method="post" enctype="multipart/form-data" id="send_form">
                <input type="text" placeholder="My name is..." name="username" id="username_input">
                <input type="text" placeholder="and I'm gonna say..." name="message" id="message_input"> 
                <button type="submit" onclick="sendMessage()">Send!</button>
            </form>
        </section>
    </div>
</body>
</html>